name: build-pr
on:
  pull_request_target:
    types: [assigned, opened, edited, synchronize, reopened]
    branches:
      - main

jobs:
  check_branch:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.check_step.outputs.branch }}
      reponame: ${{ steps.check_step.outputs.reponame }}
      newrelease: ${{ steps.check_step.outputs.newrelease }}
      tag: ${{ steps.check_step.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get branch name, etc.
        id: check_step
        run: |
          raw=${{ github.repository }}
          reponame=${raw##*/}
          echo "reponame=$reponame" >> $GITHUB_OUTPUT
          raw=$(git branch -r --contains ${{ github.ref }})
          branch=${raw##*/}
          echo "branch=$branch" >> $GITHUB_OUTPUT
          raw=`cat gradle.properties|grep ninemlVersion`
          ninemlversion=${raw##*=}
          if [[ ${ninemlversion:${#ninemlversion}-1:1} =~ [0-9] ]]; then
            echo "newrelease=true" >> $GITHUB_OUTPUT
          else
            echo "newrelease=false" >> $GITHUB_OUTPUT
          fi
          tag=""
          if [ ${{ github.ref_type }} = "tag" ]; then
            tag=${{ github.ref_name }}
            echo "Running in $reponame on $branch for $tag"
          else
            echo "Running in $reponame on $branch"
          fi
          echo "tag=$tag" >> $GITHUB_OUTPUT

  build-pr:
    runs-on: ubuntu-latest
    needs: check_branch
    env:
      HAVE_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN != '' }}
      CIWORKFLOW: yes
      CI_SHA1: ${{ github.sha }}
      CI_BUILD_NUM: ${{ github.run_number }}
      CI_PROJECT_USERNAME: ${{ github.repository_owner }}
      CI_PROJECT_REPONAME: ${{ needs.check_branch.outputs.reponame }}
      CI_BRANCH: ${{ needs.check_branch.outputs.branch }}
      CI_TAG: ${{ needs.check_branch.outputs.tag }}
      CI_PULL: ${{ github.event.number }}
    steps:
      - name: Checkout the pull request
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Initialize repository
        run: |
          git submodule init
          git submodule update

      - name: Run test
        run: |
          echo "Start test"
          ./gradlew test

      - name: Test CoffeePot with 11.6
        run: |
          echo "Start test coffeepot/11.6"
          ./gradlew -PsaxonVersion=11.6 clean :coffeepot:test

      - name: Test CoffeePot with 12.5
        run: |
          echo "Start test coffeepot/12.5"
          ./gradlew -PsaxonVersion=12.5 clean :coffeepot:test

      - name: Test CoffeeFilter with GLL
        run: |
          echo "Start test gll/coffeefilter"
          ./gradlew -PparserType=gll clean :coffeefilter:testSuite

      - name: Build distribution
        run: |
          ./gradlew clean
          echo "Start build distribution"
          ./gradlew -PparserType=earley -PsaxonGroup=com.saxonica -PsaxonEdition=Saxon-EE dist docset website
